.app__container {
  text-align: center;
  overflow-x: hidden;
}

.translation__container {
  height: 2rem;
  padding: 1em 0;
}

.vote__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.vote__button_container {
  flex-direction: row;
  width: 75%;
  flex-wrap: wrap;
}

.vote__button {
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 100%;
  border: 3px solid transparent;
  cursor: pointer;
}

.vote__button_container:hover:not(:disabled) {
  border: 3px solid #e60011;
}

.vote__button:disabled {
  filter: grayscale(1);
  cursor: not-allowed;
}

/* .vote__button:not(:last-child) {
  margin-right: 10px;
} */

.results__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 3em 1em 1em 1em;
}

.results__image_container {
  width: 49%;
  min-height: 70vh;
}

.results__image {
  max-width: 200px;
  max-height: 200px;
}

.results__image:not(:last-child) {
  margin-right: 5px;
}

.results__logo_container {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.results__logo_image {
  width: 300px;
}
